.editor-sidebar-switcher{
  background-color: black;
  text-align: center;
}
.editor-sidebar-switcher > .fa{
  font-size: 35px;
  color: white;
  cursor: pointer;
  margin: 10px auto;
}

.editor-sidebar-switcher > .fa.active{
  color: yellow;
}