.editor-sidebar-switcher{
  background-color: black;
  text-align: center;
}
.editor-sidebar-switcher > a{
  display: block;
  color: white;
  margin: 15px auto;
}

.editor-sidebar-switcher > a > span{
  font-size: 12px;
}

.editor-sidebar-switcher > a > span.fa:before{
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.editor-sidebar-switcher > a.active{
  color: yellow;
}