<div class="flex-toolbar editor-sidebar-switcher">
  
  <a
    href="{{helpers.innerLink('models')}}"
    class="{{ location === 'models' ? 'active' : '' }}"
  >
    <span class="fa fa-cubes" title="Models">Models</span>
  </a>

  <a
    href="{{helpers.innerLink('images')}}"
    class="{{ location === 'images' ? 'active' : '' }}"
  >
    <span class="fa fa-photo" title="Images">Images</span>
  </a>

  <a
    href="{{helpers.innerLink('materials')}}"
    class="{{ location === 'materials'  ? 'active' : '' }}"
  >
    <span class="fa fa-eercast" title="Materials">Materials</span>
  </a>

  <a
    href="{{helpers.innerLink('geometries')}}"
    class="{{ location === 'geometries' ? 'active' : '' }}"
  >
    <span class="fa fa-cube" title="Geometries">Geometries</span>
  </a>

  <a
    href="{{helpers.innerLink('templates')}}"
    class="{{ location === 'templates'  ? 'active' : '' }}"
  >
    <span class="fa fa-code" title="Templates">Templates</span>
  </a>

</div>