<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Infrastructure Engine</title>
  </head>
  <body>
  <h1>Welcome to Infrastructure Engine</h1>
  <a href="https://github.com/shstefanov/infrastructure-game-engine">https://github.com/shstefanov/infrastructure-game-engine</a>
  <br>
  <a href="/auth">Login</a>
  </body>
</html>