<div class="flex-toolbar navigation-panel">
  {{>resolveComponent( "Header", {
    state: "state"
  }) }}
</div>

<div class="flex-content flex flex-row">

  {{>resolveComponent( "LeftSidebarSwitcher", {
    location: "state.screen"
  }) }}

  {{#if state.screen}}

    <div class="flex-sidebar flex flex-column">
      <div class="flex-toolbar editor-sidebar-title">
        {{ helpers.toCamelCase(state.screen) }}
        <a href="/editor" class="pull-right">
          <span class="fa fa-close"></span>
        </a>
      </div>

      {{>resolveComponent(helpers.toCamelCase(state.screen) + "Sidebar", {
        state: "state"
      })}}

    </div>


  {{/if}}


  {{>resolveComponent( "SceneViewport", {}) }}


</div>

<div class="flex-toolbar">
  {{>resolveComponent( "Footer", {
    state: "state"
  }) }}
</div>
