<h1>Manage users here</h1>

<table>
  <tr>
    <th>Username</th>
    {{#user_roles}}
      <th>{{.}}</th>
    {{/user_roles}}
    <th>#</th>
  </tr>

  {{#users:i}}
    <tr>
      <td>{{username}}</td>
        {{#user_roles:j}}
          <td>
            <input
              on-click="toggleRole(users[i], user_roles[j])"
              type="checkbox" 
              {{#if roles.indexOf(user_roles[j]) !== -1}} checked {{/if}}
            >            
          </td>
        {{/user_roles}}
        <td>
          <button on-click="saveUser(.)">Save</button>
        </td>
    </tr>
  {{/users}}

</table>
