<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <base href="{{page.root}}">
    {{#assets.styles}}
      <link rel="stylesheet" type="text/css" href="{{.}}">
    {{/assets.styles}}
    {{#assets.javascripts}}
      <script type="text/javascript" src="{{.}}"></script>
    {{/assets.javascripts}}
  </head>
  <body class="flex flex-column">
    <h1>Loading, please wait...</h1>
  </body>
</html>